  @import '../../common/scss/variables.scss';
  .ratings {
    position: absolute;
    top: 178px;
    bottom: 0;
    width: 100%;
    background: #f3f5f7;
    @at-root {
      #{&}__overview {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 18px 0;
        box-sizing: border-box;
        background: #fff;
        border-bottom: 1px solid $line-color;
        @at-root {
          #{&}-left,
          #{&}-right {
            display: flex;
            flex-direction: column;
            box-sizing: border-box;
          }
          #{&}-left {
            flex: 0 0 36.7%;
            align-items: center;
            justify-content: center;
            border-right: 1px solid $line-color;
            @at-root {
              #{&}_score {
                font-size: 24px;
                color: rgb(255, 153, 0);
                line-height: 28px;
              }
              #{&}_title {
                margin: 6px auto 8px;
                font-size: 12px;
                color: rgb(7, 17, 27);
                line-height: 10px;
              }
              #{&}_rank {
                font-size: 10px;
                color: rgb(147, 153, 159);
                line-height: 10px;
                margin-bottom: 6px;
              }
            }
          }
          #{&}-right {
            flex: 1;
            justify-content: flex-start;
            padding-left: 24px;
            @at-root {
              #{&}_service,
              #{&}_food,
              #{&}_deliverytime {
                display: flex;
                font-size: 12px;
                line-height: 18px;
                margin-bottom: 8px;
                justify-content: flex-start;
              }
              #{&}_service {
                @at-root {
                  #{&}_text {
                    margin-right: 8px;
                    color: rgb(7, 17, 27);
                  }
                  #{&}_score {
                    color: rgb(255, 153, 0);
                  }
                }
              }
              #{&}_food {
                @at-root {
                  #{&}_text {
                    margin-right: 8px;
                    color: rgb(7, 17, 27);
                  }
                  #{&}_score {
                    color: rgb(255, 153, 0);
                  }
                }
              }
              #{&}_deliverytime {
                @at-root {
                  #{&}_text {
                    margin-right: 8px;
                    color: rgb(7, 17, 27);
                  }
                  #{&}_time {
                    color: rgb(147, 153, 159);
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .stars {
    margin-right: 8px;
  }
