body,
html {
  font-weight: 200;
  line-height: 1;
}

.icon {
  background-size: contain;
  @at-root {
    #{&}-decrease {
      @extend .icon;
      background: url('../../components/header/decrease_1@2x.png') no-repeat;
    }
    #{&}-discount {
      @extend .icon;
      background: url('../../components/header/discount_1@2x.png') no-repeat;
    }
    #{&}-guarantee {
      @extend .icon;
      background: url('../../components/header/guarantee_1@2x.png') no-repeat;
    }
    #{&}-invoice {
      @extend .icon;
      background: url('../../components/header/invoice_1@2x.png') no-repeat;
    }
    #{&}-special {
      @extend .icon;
      background: url('../../components/header/special_1@2x.png') no-repeat;
    }
  }
}

.animated {
  animation-duration: 0.5s;
}

@-webkit-keyframes rollIn {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, -120deg);
    transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, -120deg);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes rollIn {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, -120deg);
    transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, -120deg);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.rollIn {
  -webkit-animation-name: rollIn;
  animation-name: rollIn;
}


/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */

@-webkit-keyframes rollOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg);
    transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg);
  }
}

@keyframes rollOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg);
    transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg);
  }
}

.rollOut {
  -webkit-animation-name: rollOut;
  animation-name: rollOut;
}
